<ion-view class="app-index" view-title="{{title}}">
	<div ui-view name="indexContent"></div> 
    <div class="bar bar-footer tabs-light tabs tabs-icon-left " id="app-index-footer">
        <a class="tab-item actice" menu-close ui-sref="app.jhs.index()">
            <i class="iconfont icon icon-ju"></i> 聚划算
        </a>
        <a class="tab-item"menu-close ui-sref="app.tejia.index()">
            <i class="iconfont icon icon-te"></i> 天天特价
        </a>
        <a class="tab-item" menu-close ui-sref="app.qiang.index()">
            <i class="iconfont icon icon-qiang"></i> 淘抢购
        </a>
    </div>
</ion-view>
