<ion-view class="app-index" view-title="{{title}}">
    <div ng-include src="'templates/list.html'"></div>

    <div class="tabs tabs-icon-bottom">
        <a ng-class="{'tab-item':1,'activated':urlListitem == 'listitemjhs'}" menu-close ui-sref="app.jhs()">
            <i class="icon icon-ju iconfont"></i> 聚划算
        </a>
        <a ng-class="{'tab-item':1,'activated':urlListitem == 'listitemtejia'}"  menu-close ui-sref="app.tejia()">
            <i class="icon icon-te iconfont"></i> 天天特价
        </a>
        <a ng-class="{'tab-item':1,'activated':urlListitem == 'listitemqing'}"  menu-close ui-sref="app.qing()">
            <i class="icon icon-qing iconfont"></i> 淘清仓
        </a>
        <a ng-class="{'tab-item':1}"  menu-toggle="left">
            <i class="icon icon-more iconfont"></i> 更多
        </a>
    </div>
</ion-view>
