<ion-view cache-view="false" view-title="{{title}}">
    <ion-content>
        <iframe class="app-item-iframe" ng-style="appItemIframeStyle" ng-src="{{itemUrl}}" class="app-item-iframe" frameborder="0"></iframe>
    </ion-content>
    <div class="bar bar-footer">
        <button ng-click="back()" class="button button-large pull-left iconfont icon-back"></button>
        <h1 class="title stable">拍下自动变成{{price}}元哦~</h1>
        <button class="button button-large pull-right iconfont icon-share"></button>
    </div>
</ion-view>	
