<ion-content>
    <ion-scroll delegate-handle="app-index-scroll-nav" zooming="false" direction="x" style="width: 100%;">
        <div class="app-index-nav" style="width: {{appNndexNavWidth}}%;">
            <a ng-repeat="category in categories.results" ng-click="appIndexSlide.slide($index)" id="anchor{{$index}}" ng-class="{'button':1,'button-light':1,'current':slideIndex==$index}">{{category.title}}</a>
        </div>
    </ion-scroll>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" delegate-handle="app-index-slide" class="app-index-slide">
        <ion-slide ng-repeat="category in categories.results">
            <div class="box " ng-style="appIndexSlideStyle">
                <ion-content>
                    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh(category._id)">
                    </ion-refresher>
                    <div class="app-lists list">
                        <ng-include src="'templates/'+urlListitem+'.html'"></ng-include>
                    </div>
                    <ion-infinite-scroll ng-if="$index==slideIndex" on-infinite="loadMore(category._id)" distance="1%">
                    </ion-infinite-scroll>
                </ion-content>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-content>
