<ion-view view-title="家居">
    <ion-content>
        <div class="app-lists list">
            <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                <h2><span>特卖</span><i>|</i>加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫</h2>
                <p class="list-price buy ">
                    <span class="price-new"><i>￥</i>9.9</span>
                    <i class="del">￥29.7</i>
                    <span class="only-time">剩4天</span>
                </p>
            </a>
            <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                <p class="list-price buy ">
                    <span class="price-new"><i>￥</i>9.9</span>
                    <i class="del">￥29.7</i>
                    <span class="only-time">剩4天</span>
                </p>
            </a>
            <div class="app-lists list">
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span><i>|</i>加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
            </div>
            <div class="app-lists list">
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span><i>|</i>加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
            </div>
            <div class="app-lists list">
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span><i>|</i>加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
                <a class="item app-item col col-50" ui-sref="app.item({ id: 1 })">
                    <img class="list-img" src="http://s1.juancdn.com/bao/150715/d/c/55a618deae870_400x400.jpg_310x310.jpg" alt="">
                    <h2><span>特卖</span>|加厚法兰绒防滑沙发垫</h2>
                    <p class="list-price buy ">
                        <span class="price-new"><i>￥</i>9.9</span>
                        <i class="del">￥29.7</i>
                        <span class="only-time">剩4天</span>
                    </p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
