<ion-content>
    <ion-scroll delegate-handle="app-index-scroll-nav" zooming="false" direction="x" style="width: 100%;">
        <div class="app-index-nav" style="width: 250%;">
            <a ng-repeat="category in categories.results" ng-click="appIndexSlide.slide($index)" id="anchor{{$index}}" ng-class="{'button':1,'button-light':1,'current':slideIndex==$index}">{{category.title}}</a>
        </div>
    </ion-scroll>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" delegate-handle="app-index-slide" class="app-index-slide">
        <ion-slide ng-repeat="category in categories.results">
            <div class="box " ng-style="appIndexSlideStyle">
                <ion-content>
                    <div class="app-lists list">
                        <a ng-repeat="product in data[category._id].results" class="item app-item col col-50" ui-sref="app.item({ id: $index })">
                            <img class="list-img" ng-src="{{product.baseinfo.picUrl}}_200x200Q90.jpg_.webp" alt="">
                            <h2></i>{{product.name.title}}</h2>
                            <p class="list-price buy ">
                                <span class="price-new"><i>￥</i>{{product.price.actPrice}}</span>
                                <i class="del">￥{{product.price.origPrice}}</i>
                                <span class="only-time">剩{{product.price.ostime | formatDate }}天</span>
                            </p>
                        </a>
                    </div>
                    <ion-infinite-scroll ng-if="$index==slideIndex" on-infinite="loadMore(category._id)" distance="1%">
                    </ion-infinite-scroll>
                </ion-content>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-content>
