<ion-view class="app-rewards" view-title="账号余额">
    <ion-content>
        <div class="app-rewards-color">
            <h4 class="title">您已领取的返利余额</h4>
            <div>
                <span>12.5</span>元
            </div>
        </div>
        <div class="app-rewards-list">
            <div class="app-rewards-title">
                账户列表
            </div>
            <div class="row" ng-repeat="reward in rewards | orderBy:'month'" >
                <div class="col col-33">{{reward.year}}.{{reward.month}}</div>
                <div class="col col-33">{{reward.amount}}元</div>
                <div class="col col-33"><span class="row-{{reward.type}}">{{reward.type === "valid" ? "已领取":""}}{{reward.type === "expired" ? "已过期":""}}{{reward.type === "invalid" ? "未结算":""}}</span></div>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item" ui-sref="app.rewards()"  menu-close >
            <i class="icon iconfont icon-taojin"></i>账号余额
        </a>
        <a class="tab-item" ui-sref="app.tejia()"  menu-close >
            <i class="icon iconfont icon-te"></i>特权商品
        </a>
        <a class="tab-item" ui-sref="app.pengyou()"  menu-close >
            <i class="icon iconfont icon-pengyou"></i>朋友圈
        </a>
    </div>
</ion-view>
